# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Data, logs, outputs
runs/
*.log
*.csv
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tfevents.*

# OS files
.DS_Store
Thumbs.db

# Alembic
migrations/versions/

# Other
*.sqlite3
*.db

# Ignore secrets
.env
