alembic==1.16.4
Flask==3.1.2
flask_migrate==4.1.0
flask_sqlalchemy==3.1.1
numpy==2.3.2
paddleocr==3.2.0
Pillow==11.3.0
psutil==7.0.0
pytesseract==0.3.13
SQLAlchemy==2.0.43
ultralytics==8.3.184
scikit-learn==1.7.1
psycopg2-binary==2.9.10